.DS_Store
*.swp
*.swo
*~
draft-krickert-pipestream-*.md
draft-krickert-pipestream-*.xml
draft-krickert-pipestream-*.txt
draft-krickert-pipestream-*.html
.idea
.refcache/
build/
fix_align.py
test.py
test.md
test.xml
draft-template.txt
draft-template.xml
docproc/draft-template.txt
docproc/draft-template.xml
